.dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #f5f5f567;
   background: #0f0e136e;
  box-shadow: 0 4px 30px #00000033;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  top: 90px;
  right: 40px;
  z-index: 5;
  color: white;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}