.button {
  align-items: center;
  background-image: radial-gradient(100%100%at 100%0, #8d8d8d 0, #414141 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: #0f0c17d7 0 2px 4px, #2b24394d 0 7px 13px-3px, #3a416f80 0-3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  font-size: 15px;
  padding: 12px;
  width: 105%;
  display: flex;

  &:focus {
    box-shadow: #7e7e7e 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #838383 0 -3px 0 inset;
  }

  &:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6f6f6f 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: #181818 0 3px 7px inset;
    transform: translateY(2px);
  }
}