.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-left: 20rem;
  color: white;
  background-color: rgba(176, 176, 176, 0.486);

  h2 {
    margin: 10px 0;
  }
}
