.sign-up-container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
  width: 380px;
  margin-left: 20rem;
  color: white;
  background: #0f0e136e;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  h2, span {
    text-align: center;
  }
}
